<div class="c-section">
  <h1 class="c-title c-title--large">User Name: <%= current_user.name %></h1>
  <h4 class="c-title"><%= image_tag current_user.avatar.variant(resize: "150 x 200")%></h4>
  <%= link_to "Download #{current_user.name}'s Photo", rails_blob_path(current_user.avatar, disposition: "attachment")
</div>
